@media (max-width: 1024px) {
  .IconsWrapper {
    position: absolute;
    right: 0;
    top: -2px;
  }
}

@media (max-width: 768px) {
  .TabsWrapper {
    padding-top: 0.5em;
    margin-left: 0.8em !important;
  }

  ul[class*=tab-list] {
    font-size: 14px;
  }

  .IconsWrapper {
    position: absolute;
    top: 4px;
    right: 0;
  }
}

@media (min-width: 500px) {
  .TabsItemRow {
    display: flex;
  }

  .TabsItemCol {
    width: 30%;
  }
}

@media (max-width: 500px) {
  .TabsWrapper {
    padding-top: 0.5em;
  }

  ul[class*=tab-list] {
    font-size: 13px;
  }

  .IconsWrapper {
    position: absolute;
    right: 0;
    top: -44px;
  }

  .TabsItemRow {
    display: block;
  }

  .TabsItemCol {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .TabsWrapper {
    padding-top: 0.5em;
  }

  ul[class*=tab-list] {
    font-size: 12px;
  }

  .IconsWrapper {
    position: absolute;
    right: 0;
    top: -32px;
  }
}

@media (max-width: 360px) {
  .TabsWrapper {
    padding-top: 0.5em;
  }

  ul[class*=tab-list] {
    font-size: 10px;
  }

  .IconsWrapper {
    position: absolute;
    right: 0;
    top: -38px;
  }

  .TabPanel {
    font-size: 1.2rem;
  }
}

@media (max-width: 330px) {
  .TabsWrapper {
    padding-top: 0.5em;
  }

  ul[class*=tab-list] {
    font-size: 9px;
  }

  .IconsWrapper {
    position: absolute;
    right: 0;
    top: -37px;
  }

  .TabPanel {
    font-size: 1.2rem;
  }
}

.TabsWrapper {
  padding: 0 0.5em 0 -0.5em;
  margin: -2px;
  margin-left: -1.85em;

  ul[class*=tab-list] {
    border: none;
    width: 100%;
  }

  li[class*=react-tabs] {
    border: 1px solid lightgray;
    border-radius: 0;
    margin: 0.3em 0 0 0 !important;
    box-shadow: none;
    top: -0.2em;
  }

  li[aria-selected*=true] {
    background-color: lightgray;

    &::after {
      content: '';
      top: 100%;
      left: 50%;
      position: absolute;
      height: 0;
      width: 0;
      border: 10px solid rgba(255, 212, 52, 0);
      border-top-color: lightgray;
      margin-left: -10px;
    }
  }

  .IconsWrapper {
    float: right;
    margin: 8px 25px 0 0;
  }

  .hidden {
    display: none;
  }

  .Edit,
  .Bell,
  .Cog {
    display: inline-block;
    border: 0 !important;
    margin: 0 0 0 1em;
    list-style-type: none;
    font-size: 1.7rem;
    color: gray !important;

    &:hover {
      color: #3f426b !important;
    }

    &::after {
      color: #3f426b !important;
      position: absolute;
      height: 0;
      width: 0;
      border-width: 0 !important;
      margin-left: 0 !important;
      padding-left: 2em;
    }
  }

  .TabPanel {
    margin: 2rem 0 0 1.5em;
    width: 85%;
  }

  .TabsItemRow {
    padding: 0.3em 0 0.3em 0;
  }

  .TabsItemCol {
    color: gray;
  }
}
