@media (max-width: 360px) {
  .customTooltip {
    width: 210px;
  }
}

.customTooltip {
  margin: 0;
  line-height: 24px;
  font-size: 1.5rem;
  border: 1px solid #f5f5f5;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 10px;
}

.tooltipOne {
  margin: 0;
  color: #666;
  font-weight: 700;
}

.tooltipSecond {
  margin: 0;
  color: #8a8989;
  font-size: 0.9em;
}

.spanValue {
  color: #8884d8;
  font-size: 1.1em;
  font-weight: 700;
}
