@media (min-width: 1025px) {
  .ProfileButton {
    width: 10.5em !important;
    font-size: 13px !important;
  }
}

@media (max-width: 1024px) {
  .ProfileButton {
    width: 10.5em !important;
    font-size: 13px !important;
  }
}

@media (max-width: 768px) {
  .ProfileButton {
    min-width: 9.4em !important;
    font-size: 12px !important;
  }
}

@media (max-width: 500px) {
  .ProfileButton {
    width: 8.55em !important;
    font-size: 13px !important;
  }
}

@media (max-width: 400px) {
  .ProfileButton {
    width: 7.1em !important;
    font-size: 13px !important;
  }
}

@media (max-width: 375px) {
  .ProfileButton {
    width: 8.5em !important;
    font-size: 12px !important;
  }
}

@media (max-width: 360px) {
  .ProfileButton {
    width: 8.9em !important;
    font-size: 11px !important;
  }
}

@media (max-width: 330px) {
  .ProfileButton {
    width: 9em !important;
    font-size: 10px !important;
  }
}

.ProfileButton {
  min-width: 8.3em;
  height: 2.5em;
  margin: 0.5em 0 0.5em 0.9em;
  background-color: lightgray;
  color: #4e555b;
  border: 1px solid lightgray;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #0d3349;
    color: white;
    transition: 0.3s;
  }

  .Icon {
    width: 16px;
    height: 16px;
    margin-top: -0.1em;
    display: inline;
    margin-right: 3px;
  }
}

.buttonMessage {
  color: black;
  cursor: pointer;
  width: 40px;
  margin-left: 15px;

  &:hover {
    background-color: #0d3349;
    color: white;
    transition: 0.3s;
  }
}
