.writeButton {
  border: 1px solid rgb(172, 172, 172);
  margin: 5px 20px;
  border-radius: 10px;
  padding: 6px 7px;
  text-align: center;

  &:hover {
    background-color: rgba(10, 10, 10, 0.15);
  }
}
