.title {
  padding: 15px;
}

.customTooltip {
  width: 215px;
  margin: 0;
  line-height: 24px;
  border: 1px solid #f5f5f5;
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 10px;
}

.label {
  margin: 0;
  color: #666;
}

.labelDate {
  font-weight: 700;
}

.spanLabel {
  font-weight: 700;
  color: #8884d8;
}
