.SearchDialogs {
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.SearchInputDialog {
	border: 1px solid rgb(172, 172, 172);
	border-radius: 10px;
	height: 28px;
	min-width: 100px;
	outline: none;
	padding: 6px 7px;
}

.SearchInputDialog:focus {
	background-color: #ccc;
	outline: none;
}
