.SearchDialogs {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 10px;
  margin: 0 20px 0 20px;
}

.SearchInputDialog {
	height: 28px;
	outline: none;
	padding: 6px 7px;
  flex-basis: 90%;
}

.SearchIcon {
  margin-left: 5px;
  opacity: 0.6;
}
