.form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    .submitButton {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
        border: none;
        background: #3f426b;
        color: #fff;
        padding: 1rem 5rem 1rem 5rem;
      }
}