.form {
  width: 70%;
  max-width: 400px;
  margin-top: 70px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.links {
  margin-top: 30px;
  border-top: 1px solid #e2e2e2;
}

.wantLogin {
  font-size: 14px;
  color: #aeaeae;
}

div[class='input-group'] {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

div[class='input-group-prepend'] {
  width: 15%;
  float: left;
  display: inline;
  height: 33px;
}

span[class=input-group-text] {
  height: 100%;
  justify-content: center;
}

input[name='userName'] {
  width: 85%;
  display: inline;
}
