.container {
  width: 100%;
  margin-top: 7rem;
  display: grid;
  grid-template-areas: 'header header' 'nav article';
  grid-template-rows: auto;
  grid-template-columns: 30% 1fr;
}

.chatsHeader {
  grid-area: header;
  background-color: white;
  text-align: center;
  color: grey;
}

.mainNav {
  height: 80%;
  grid-area: nav;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
