.container {
  width: 100%;
<<<<<<< HEAD
  margin: 7rem 1rem;
=======
  margin-top: 7rem;
>>>>>>> 7a88e705a3e561750fc7ca6f219ed9b4530272f0
  display: grid;
  grid-template-areas: 'header header' 'nav article';
  grid-template-rows: auto;
  grid-template-columns: 30% 1fr;
}

.chatsHeader {
  grid-area: header;
  background-color: white;
  text-align: center;
  color: grey;
}

.mainNav {
  height: 80%;
  grid-area: nav;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
}

.iconHamburger {
  display: none !important;
}

.navShow {
  z-index: 9;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

@media (max-width: 768px) {
  .mainNav {
    display: none;
  }

  .container {
    margin: 7rem 0;
    grid-template-areas: 'header header' 'article article';
  }

  .iconHamburger {
    display: block !important;
    float: left;
    font-size: 3rem !important;
    margin: 2rem 0 0 2rem;
  }

=======
>>>>>>> 7a88e705a3e561750fc7ca6f219ed9b4530272f0
}
