.form {
  width: auto;
  position: relative;
  padding: 3rem;
  display: table;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 30px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #3f426b;
}
@media only screen and (max-width: 700px) {
 .heading {
padding-top: 5rem;
  }
}

div[class=formInput] 
{
margin-left: 7rem
}

div[class=input-group] {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

div[class=input-group-prepend] {
  width: 10%;
  float: left;
  display: inline;
}

input[name=userName] {
  width: 85%;
  display: inline;
}

.light {
  color: red;
}
