.form {
  margin: 90px 60px 30px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 32px;
  color: #3f426b;
}

div[class=input-group] {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

div[class=input-group-prepend] {
  width: 15%;
  float: left;
  display: inline;
  height: 33px;
}

span[class=input-group-text] {
  height: 100%;
  justify-content: center;
}

input[name=userName] {
  width: 85%;
  display: inline;
}

.light {
  color: red;
}
