.ProfileBackgroundImages {
  background-image: url('../../../../assets/profile_background.jpg');
  background-size: cover;
  margin: -0.7px !important;
  border-radius: 2px !important;
  padding: 0 !important;
  border: 0 !important;
}

.UserImg {
  margin: 3em auto;
  border: 0.4em solid white;
  border-radius: 50%;
  width: 10em;
  height: 10em;
  box-shadow: 0 0 10px gray;
}

.ChangePhoto {
  position: absolute;
  color: white;
  opacity: 0.9;
  font-size: 28px;
  top: 0.3em;
  left: 85%;
  width: 10%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

input[id='addImage'] {
  width: 3em;
  margin: 0 0 0 -2em;
  position: absolute;
  visibility: hidden;
  display: none;
}
