.searchPanelInput {
  outline: none;
  background-color: white;
  font-style: inherit;
  padding: 6px 7px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.iconInput {
  position: relative;
  left: -30px;
  z-index: 1;
  margin-right: -1em;
  color: #6c757d;
}

.searchPanelInput:focus {
  background-color: #ccc;
  outline: none;
}
