// main window
.wrapper {
	grid-area: article;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	padding: 0;
	min-height: 100vh;
	background: white;
	box-sizing: border-box;

	button {
		cursor: pointer;
		border: none;
		padding: 0;
	}
}

//header

header {
	height: 111px;
	background: #fafbff;
	border-radius: 6px 6px 0 0;
	border-bottom: 1px solid rgba(112, 124, 151, 0.1);
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
}

.user {
	display: flex;
	align-items: center;

	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: 20px;
		box-shadow: 1px 1px 50px rgba(154, 81, 48, 0.15), 2px 2px 10px rgba(154, 81, 48, 0.1),
			4px 4px 15px rgba(154, 81, 48, 0.05);
	}
}

.userName {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 54px;
}

.name {
	text-decoration: none;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	color: #0d1c2e;
	text-transform: capitalize;
}

.lastTime {
	font-size: 16px;
	line-height: 19px;
	color: #3f426b;
}

.buttons {
	display: flex;
	align-items: center;
  flex-wrap: wrap;

	svg {
		padding: 5px;
		background-color: white;
		border: none;
		box-shadow: 0 5px 25px rgba(42, 139, 242, 0.07), 0 7px 25px rgba(42, 139, 242, 0.03);
		width: 35px;
		height: 35px;
		border-radius: 50%;
    margin: 0 5px;
	}
}

.headerInfo {
	height: 111px;
	background: #fafbff;
	border-radius: 6px 6px 0px 0px;
	border-bottom: 1px solid rgba(112, 124, 151, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoMessage {
	font-size: 18px;
	line-height: 21px;
	color: #0d1c2e;
}

.messagesWrapper {
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// form

.formLine {
	background: rgba(112, 124, 151, 0.15);
	border-radius: 2px;
	height: 2px;
	margin: 33px 60px 0 60px;
}
.formWrapper {
	display: flex;
	height: 89px;
	align-items: center;
	position: relative;

	form {
		display: flex;
		align-items: center;
		width: 100%;
	}

	textarea {
		width: 100%;
		font-size: 20px;
		line-height: 24px;
		color: rgba(112, 124, 151, 0.5);
		outline: none;
		resize: none;
		margin: 0 21px;
		border: none;
	}
}

.smileButton {
	min-height: 24px;
	min-width: 24px;
	margin-right: 22px;
	border-radius: 50%;
	background: none;
	background-image: url(../../../assets/chat/smile-icon.png);
	background-repeat: no-repeat;
	background-position: center;
}

.sendButton {
	background-image: url(../../../assets/chat/send-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 40px;
	min-width: 40px;
	overflow: visible;
	border-radius: 50%;
}

.dropUpButton {
	background-image: url(../../../assets/chat/icon-add.png);
	background-repeat: no-repeat;
	background-position: center;
	min-height: 40px;
	min-width: 40px;
	border-radius: 50%;
}

.dropUp {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 35px;
	top: -130px;

	img {
		margin-bottom: -50px;
	}
}

@media (max-width: 768px) {
  .name {
    font-size: 16px;
    line-height: 19px;
  }

  .lastTime {
    font-size: 14px;
    line-height: 17px;
  }

  .buttons {
    button {
      width: 20px;
      height: 20px;
    }
  }
}
