.messageAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 24px;
}

.messageMenuRecived {
  min-width: 24px;
  height: 13px;
  background: none;
  background-image: url(../../../assets/chat/more-horizontal.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-self: center;
}

.messageMenuSended {
  margin-right: 20px;
  min-width: 24px;
  height: 13px;
  background: none;
  background-image: url(../../../assets/chat/more-horizontal.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-self: center;
}

.message {
  display: flex;
}

.blockRecived {
  background: linear-gradient(93.27deg, #767de2 0%, #707c97 100%);
  box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.2);
  border-radius: 0 10px 10px 10px;
  padding: 14px 27px 25px 22px;
  margin-right: 18px;
  cursor: pointer;
}

.textRecived {
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.timeRecived {
  align-self: flex-end;
  margin: 5px 42px 16px 0;
  font-size: 14px;
  line-height: 26px;
  color: rgba(112, 124, 151, 0.7);
}

.recived {
  display: flex;
  flex-direction: column;
  max-width: 662px;
  width: fit-content;
}

// send

.blockSended {
  background: #fff;
  border: 1px solid rgba(112, 124, 151, 0.25);
  border-radius: 10px 10px 0 10px;
  box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05), 10px 10px 25px rgba(112, 124, 151, 0.05);
  padding: 14px 27px 25px 22px;
  cursor: pointer;
}

.textSended {
  font-family: TT Norms;
  font-size: 16px;
  line-height: 26px;
  color: #707c97;
}

.timeSended {
  font-size: 14px;
  line-height: 26px;
  color: rgba(112, 124, 151, 0.7);
  margin: 5px 29px 16px 0;
}

.sended {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .message-menu {
    width: 24px;
    height: 24px;
    margin: 0;
  }

  img {
    width: 16px;
    height: 13px;
    margin-left: 10px;
    display: flex;
    align-self: center;
  }
}

// time line

.timeLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.line {
  height: 1px;
  background: rgba(112, 124, 151, 0.15);
  border-radius: 2px;
  max-width: 320px;
  width: 100%;
}

.lastTime {
  font-size: 14px;
  line-height: 26px;
  color: rgba(112, 124, 151, 0.7);
}
