.wrapper {
  width: 100%;
  max-width: 500px;
  margin-top: 100px;
  padding: 10px 30px;
  align-self: flex-start;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.pagination > li > a {
  border: 1px solid grey;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: grey;
}

.pagination > .active > a {
  background-color: grey;
  border-color: grey;
  color: #fff;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3f426b;
  border-color: #3f426b;
  outline: none;
}

.line {
  background-color: #f4f4f4;
  height: 1px;
  margin: 10px;
}
