.line {
  color: lightgrey;
  height: 1px;
  margin: 0;
}

.LinkToDialogs {
  text-decoration: none;
  color: grey;
}

.root {
  background-color: white;
  height: '10%';
  max-width: 360px;
  width: '100%';
}
