@import '../../style/variables.scss';
@import '../../style/index.scss';

.footer {
  z-index: 50;
  width: 100%;
  min-width: 330px;
  height: 15rem;
  padding: 0 3rem;
  background-color: var(--color-header-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #fff;
  padding-right: 3%;

  img {
    height: 10rem;
  }
}

.credo {
  width: 40%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-left: 1rem;
    color: var(--color-header-text);
    font-size: 1.4rem;
  }
}

.menu {
  min-width: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 0 20px;

    &:hover {
      filter: brightness(400%);
      transition: 1s;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 1rem;
  }

  .logo {
    img {
      height: 5rem;
    }
  }

  .credo {
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .logo {
    padding-right: 10px;
  }

  .menu {
    min-width: 7rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .credo {
    width: auto;
  }
}
