@import '../variables.scss';
@import '../../style/index.scss';


.childrenWrap {
  min-width: 330px;
  min-height: calc(100vh - 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
