.InputError {
  border: 2px solid #dd404e !important;
  box-shadow: 0 0 5px #dd404e !important;
}

.TextError {
  float: left;
  font-size: 1.4rem;
  margin: 5px 0;
  color: #dd404e;
}

.TextHidden {
  float: left;
  visibility: hidden;
  font-size: 1.4rem;
  margin: 5px 0;
}

div[class*=form-group] {
  margin-bottom: 0 !important;
}

.fieldDefault {
  border: 1px solid #3f426b;
  font-size: 1.5rem;
}

.inputWrap {
  width: 100%;

  .fieldDefault {
    border: 1px solid #3f426b;
    height: 33px;
    font-size: 1.5rem;
  }

  .InputError {
    height: 33px;
    font-size: 1.5rem;
  }
}
