.GroupDate {
  display: inline-block;
}

.formGroupDate {
  margin-left: 10px;
  display: inline-block;
  width: 200px;
}

.formGroupSelect {
  margin-left: 10px;
  display: inline-block;
  width: 95px;
}

.buttonSave {
  margin-left: 10px;
  display: inline-block;
  text-align: center;
  width: 35px;
  border: 1px solid #3f426b;
  background-color: #3f426b;
  border-radius: 5px;
}

.textSave {
  color: white;
}
