.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 100;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 6px;
}

.spinnerStyle {
  background: gray;
  border: 2px solid black;
  width: 5em;
  height: 5em;
}
