.ProfilePrivateContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

.ProfilePrivateIcon {
  font-size: 5rem;
}
